.login-button {
    border: 2px solid black;
    background: green;
}

.signup-button {
    border: 2px solid black;
    background-color: sandybrown;
}

.button-container {
    display: flex;
    gap: 10px;
}