<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
</head>
<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>New Entry</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- <div>
        <google-map
          height="400px"
          width="800px"
          [options]="mapOptions"
          (mapClick)="onMapClick($event)">
        </google-map>
      </div>
      <div *ngIf="clickedLocation">
        <p>Clicked Location:</p>
        <p>Latitude: {{ clickedLocation.lat }}</p>
        <p>Longitude: {{ clickedLocation.lng }}</p>
      </div> -->
      <div class="my-google-map" id="map">
      </div>


    <div class="content">
        <form [formGroup]="form" (ngSubmit)="create()">
            <mat-divider></mat-divider>
            <div>
                <mat-form-field>
                    <mat-label>Username: </mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                    @if (form.get('username')?.hasError('minlength')) {
                        <mat-error>Username should be at least 5 characters long</mat-error>
                      }
                </mat-form-field>
            </div>
            <div class="dense-1">
                <mat-form-field>
                    <mat-label>Password: </mat-label>
                    
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>First Name: </mat-label>
                    <input matInput placeholder="First Name" formControlName="firstname">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Last Name: </mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastname">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Email: </mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
            <div>
                <mat-label>Gender: </mat-label>

            </div>
            <button type="submit" [disabled]="form.invalid">Create</button>
        </form>
    </div>
</body>
</html>