<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
</head>
<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mainbar">
            <div class="top-toolbar-title">
                <img src="assets/icons/passport.ico" alt="icon" style="height: 50px;"> <span> Travela</span>
            </div>
            <span>Trip Details</span>
            <button type="button" mat-flat-button (click)="back()">Back</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <div class="content">
        <mat-card *ngIf="trip">
            <mat-card-header>
              <h2><strong>{{ trip.title }}</strong></h2>
            </mat-card-header>

            <mat-card-content>
              <h3><strong>Notes:</strong> {{ trip.notes }}</h3>
              <h3><strong>Start Date:</strong> {{ trip.startDate | date }}</h3>
              <h3><strong>End Date:</strong> {{ trip.endDate | date }}</h3>
              <h3><strong>Places to visit:</strong></h3>
              <p>Select main mode of transport: </p>
              <form [formGroup]="form" >
                <mat-radio-group formControlName="transportMode">
                    <mat-radio-button value="TRANSIT">Public Transit</mat-radio-button>
                    <mat-radio-button value="BICYCLING">Bicycling</mat-radio-button>
                    <mat-radio-button value="DRIVING">Driving</mat-radio-button>
                    <mat-radio-button value="WALKING">Walking</mat-radio-button>
                </mat-radio-group>
              </form>
              <p>
                <mat-list-item *ngFor="let p of places">
                    <a href="{{p.url}}" target="_blank">{{p.name}} </a> : {{p.address}}
                    <button type="button" title="weather" mat-icon-button (click)="getWeather(p)">
                        <mat-icon>wb_sunny</mat-icon>
                    </button>
                    <button type="button" title="directions" mat-icon-button (click)="calculateRoute(p)" *ngIf="this.isRouteVisible(p)">
                        <mat-icon> directions</mat-icon>
                    </button>
                </mat-list-item>
              </p>
            </mat-card-content>
        </mat-card>
        <div id="map-container">
            <div class="my-google-map" id="map">
                <google-map>
                </google-map>
            </div>
            <div id="sidebar"><h3 style="display: flex; align-items: center; justify-content: center;">Directions</h3></div>
        </div>
        <br>
        <div class="weatherbox">
            @if (weather) {
                <p><strong>Weather:</strong></p> 
                <img src="http://openweathermap.org/img/w/{{weather.icon}}.png"> 
                {{weather.description}} - {{weather.city}}
            }
            
        </div>
        <button type="button" mat-stroked-button class="email-button" (click)="sendEmail()">Email Me</button>
    </div>
</body>
</html>