<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
</head>
<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mainbar">
            <span>Trip Details</span>
            <button type="button" mat-flat-button (click)="back()">Back</button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <div class="content">
        <mat-card style="background-color: transparent;" *ngIf="trip">
            <mat-card-header>
              <mat-card-title>{{ trip.title }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <p><strong>Notes:</strong> {{ trip.notes }}</p>
              <p><strong>Start Date:</strong> {{ trip.startDate | date }}</p>
              <p><strong>End Date:</strong> {{ trip.endDate | date }}</p>
              <p><strong>Places:</strong></p>
              <p>
                <mat-list-item *ngFor="let p of places">
                    <a href="{{p.url}}" target="_blank">{{p.name}} </a> : {{p.address}}
                    <button type="button" mat-icon-button (click)="getWeather(p)">
                        <mat-icon>wb_sunny</mat-icon>
                    </button>
                    <button type="button" mat-icon-button (click)="calculateRoute(p)" *ngIf="this.isRouteVisible(p)">
                        <mat-icon> directions</mat-icon>
                    </button>
                </mat-list-item>
              </p>
            </mat-card-content>
        </mat-card>
        <div id="map-container">
            <div class="my-google-map" id="map">
                <google-map>
                </google-map>
            </div>
            <div id="sidebar"></div>
        </div>
        <br>
        <div class="weatherbox">
            @if (weather) {
                <p><strong>Weather:</strong></p> 
                <img src="http://openweathermap.org/img/w/{{weather.icon}}.png"> 
                {{weather.description}} - {{weather.city}}
            }
            
        </div>
        <button type="button" (click)="sendEmail()">Email Me</button>
    </div>
</body>
</html>